/* src/App.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: black;
  color: white;
}

.app-container {
  margin-top: 250px;
  text-align: center;
}

.card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card {
  width: 15%;
  height: 300px;
  border: 1px solid #ccc;
  margin: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Space items evenly */
  position: relative;
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
  transform: scale(1.05); /* Slightly increase size */
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5); /* Enhance shadow */
}

.title {
  width: 100%;
  padding: 5px 0px;
  margin: 0;
  border-bottom: 1px solid #ccc;
}

/* New styles for the bottom title */
.bottom-title {
  width: 100%;
  padding: 5px 0px;
  margin: 0; /* Remove default margin for bottom heading */
  text-align: right;
}

/* Centering the description */
.description {
  padding: 0px 10px;
  text-align: left;
  flex-grow: 1; /* Allow description to take remaining space */
  display: flex; /* Enable flexbox on description */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}

.date {
  padding-right: 10px;
  border-top: 1px solid #ccc; /* Add a light gray border on top */

}

